<!--<div class="bs-example">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top1">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
       <!-- <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav" style='width:100%'>
              <li><a href="/home/home.jsp" class="navbar-brand">
                  <span class="ion-home" aria-hidden="true"></span>
             </a></li>
              <li class='hdText'><b>Ascend Loan Orgination System</b></li>
                <li>
                    <span class="ion-person" aria-hidden="true" ></span>
                    <a href="#" style='display:inline-block;'>{{UserDetail}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>-->
     <!-------              HEADER    margin-left:auto;margin-right:auto;margin-top:25px;min-height:350px;          ----->
    
    <div style='' class='tmplcontainer' ui-view>
       
    </div>
    <!--<div class='ui-popup-container five9 ui-widget-content' id='draggable' style='border:0px;'>-->
    <!--    <div id='five9' style="display:none;" class='ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all '>-->
            
    <!--    </div> -->
    <!--</div>-->