<div class='rows rightcontainer'>
    <tabset>
        <tab ng-repeat="docDetail in customerDocDetails" heading="{{docDetail.docType}}" active=docDetail.active>
            <div class='embed-responsive embed-responsive-16by9'>
                <iframe class='embed-responsive-item' ng-src="{{docDetail.docLinkDetail}}"></iframe>
                {{docDetail.message}}
            </div>
        </tab>
        <select ng-model="reporttype" ng-options="type.Type as type.Type for type in modeReport" style='float:right;'></select>
        <select ng-model="selDoc" ng-options="type.docType as type.Type for type in actionType" style='float:right;' ng-change="addNewTab(this)"></select>
    </tabset>
    <div class='row form-group'>
        <textarea class="form-control Notestextareastyle" ng-model='Notes.Note__c' ng-blur='updateNotes();' placeholder='Custom Notes For {{state}}'></textarea>
    </div>
</div>
